body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  font-family: "Roboto";
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.header-content {
  display: flex;
  gap: 20px;
}
.basket {
  height: 40px;
  display: flex;
  align-items: center;
}
.basket img {
  object-fit: contain;
}
.products-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  gap: 10px;
}
.products-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 270px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-photo {
  width: 100px;
  height: 100px;
}

.product-price {
  color: #1ed013;
  font-weight: 700;
  font-size: 20px;
}
.product-footer {
  align-self: flex-start;
  width: 95%;
  padding: 5px 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-button {
  background-color: bisque;
  border: 1px solid #1ed013;
  border-radius: 50%;
}

.product-button:hover {
  transition: 500ms;
  border-radius: 10%;
  background-color: #1ed013;
  border-color: black;
}

.product-title {
  margin: 10px 0;
  color: darkblue;
  pointer-events: none;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  padding: 0 5px;
  box-sizing: border-box;
}
.title {
  text-decoration: none;
  color: darkblue;
}
